*{
    margin: 0;
    padding: 0;
    
}
body{
    
}

.navigation{
    display: flex;
    background-color: rgba(28, 25, 22, 0.792);
    border: black solid 3px;
    width: 100%;
    position: fixed;
}
a{
    text-decoration: none;
    color: aliceblue;
  
}
.home,.services,.documentation,.about{
    width: fit-content;
    height:fit-content;
    margin: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-right: 4px solid white;
    font-weight: 700;
    padding: 0.5%;
    float: right;
    
}
.content{
    display: flex;
    margin-top:5% ;
    width: 100vw;
    height:100vw;
    background-image: url(https://mcmscache.epapr.in/post_images/website_350/post_28872061/full.jpg);
    background-repeat: no-repeat;
}
.writeup{
    width:40%;
    text-align: center;
    margin:1%;
    background-color: rgba(240, 248, 255, 0.766);padding: 1em;
}
.image{
    width:60%;
    margin:1%;
}
.image img{
    border-radius: 2%;
}
